/* General body styling */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  background-color: #0c0b00;
  color: #fcf7f7;
}

/* Heading styling */
h1 {
  color: #deb522;
  margin-bottom: 20px;
}

h2 {
  color: #fcf7f7;
  margin-bottom: 20px;
}

/* Form styling */
form {
  background-color: #8A8A8A;
  padding: 20px;
  border: 0px solid #ddd;
  border-radius: 5px;
  max-width: 50%;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

form button {
    width: 70%;
    padding: 10px;
    background-color: #3F4244;
    color: #128bb5;
    border: none;
    cursor: pointer;
    border-radius: 12px;
    font-weight: bold;
    margin-top: 10px;
}

form button:hover {
  background-color: #0056b3;
}

/* Styling for the movie details */
.movie-details {
  background-color: #fcf7f7;
  color: #fcf7f7;
  padding: 20px;
  border-radius: 25px;
  margin-top: 1px;
  border: 1px solid #0c0b00;
  text-align: center;
}

.movie-item {
  margin-bottom: 1px;
  padding: 10px;
  border-radius: 5px;
}

.movie-item h3 {
  color: #0c0b00;
}

.movie-item p {
  color: #0c0b00;
}

.movie-item a {
  color: #deb522;
}

.movie-item a:hover {
  color: #128bb5;
  text-decoration: underline;
}
