<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<form action="#" method="post" th:action="@{/}" th:object="${movies}">
    <table>
        <tr>
            <td>Movie Search:</td>
            <td><input th:field="*{primaryTitle}" type="text"/></td>
            <td th:errors="*{primaryTitle}" th:if="${#fields.hasErrors('primaryTitle')}">Name Error</td>
        </tr>
        <td>
            <button type="submit">Submit</button>
        </td>
        </tr>
    </table>
</form>
</body>
</html>