<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>IMDB Search</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <link href="/style.css" rel="stylesheet"/>
</head>
<body>
<h1>Search for Movies</h1>

<form action="#" method="get" th:action="@{/search}">
    <div class="form-row full-width">
        <label for="query">Movie Title or Type</label>
        <input id="query" name="query" type="text"/>
    </div>

    <!-- Sorting options -->
    <label for="sort">Sort By:</label>
    <select id="sort" name="sort">
        <option value="primaryTitle">Title</option>
        <option value="startYear">Start Year</option>
        <option value="runtimeMinutes">Runtime</option>
    </select>

    <label for="sortDirection">Sort Direction:</label>
    <select id="sortDirection" name="sortDirection">
        <option value="asc">Ascending</option>
        <option value="desc">Descending</option>
    </select>

    <!-- Filtering -->
    <label for="isAdult">Adult Content:</label>
    <select id="isAdult" name="isAdult">
        <option value="">All</option>
        <option value="true">Yes</option>
        <option value="false">No</option>
    </select>

    <label for="titleType">Title Type:</label>
    <select id="titleType" name="titleType">
        <option value="">All</option>
        <option value="movie">Movie</option>
        <option value="tvSeries">TV Series</option>
        <option value="tvMovie">TV Movie</option>
    </select>
    <button type="submit">Search</button>
</form>

<h2>Results</h2>
<div th:if="${movies}">
    <ul class="movie-list">
        <li class="movie-item" th:each="movie : ${movies}">
            <div class="movie-details">
                <h3><a th:href="@{/movie/{tconst}(tconst=${movie.tconst})}" th:text="${movie.primaryTitle}">Movie
                    Title</a></h3>
                <p><strong>Type:</strong> <span th:text="${movie.titleType}">Title Type</span></p>
                <p><strong>Start Year:</strong> <span th:text="${movie.startYear}">Start Year</span></p>
                <p><strong>End Year:</strong> <span
                        th:text="${movie.endYear != null ? movie.endYear : 'N/A'}">End Year</span></p>
                <p><strong>Runtime:</strong> <span th:text="${movie.runtimeMinutes}">Runtime</span> minutes</p>
                <p><strong>Adult Only:</strong> <span th:text="${movie.isAdult} ? 'Yes' : 'No'">Adult Only</span></p>
            </div>
        </li>
    </ul>
</div>

<div th:if="${#lists.isEmpty(movies)}">
    <p>No results found.</p>
</div>

</body>
</html>
